* {
    box-sizing: border-box;
}


/*RESPONSIVE*/
@media only screen and (max-width: 768px) {     /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}

.hover_link:hover {
  background-color: rgb(28,132,237);
}
* .btn-editPost{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}