main{
    margin-top: 55px !important;
    overflow-x:hidden;
}

/*LEFT-SIDE-BAR*/
#left-side-bar{
    overflow: scroll;
    width: 25%;
    height: 90%;
    position: fixed ;
    overflow-x: hidden;
}
/*MAIN NEWS FEED*/
#main-news-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
    width: 50%;
    margin-left: 25%;
}
.thinking-post{
    border-radius: 10px;
    box-shadow: 0px 3px rgba(187, 179, 179, 0.2);
    padding: 0px 32;
    height: auto;
    width: 80%;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}
#thinking-user{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
#thinking-user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.news{
    border-radius: 10px;
    box-shadow: 0px 3px rgba(187, 179, 179, 0.2);
    padding: 0px 32;
    height: auto;
    width: 80%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}
.news .row{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.heading{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 12px 16px 0px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.user-ava{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0px solid white;
    background-color: rgb(233, 233, 233);
}
.user-ava img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%
}
.user-name-time{
    font-size: 14px;
    padding-left: 12px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-name{
    cursor: pointer;
    margin-top: 5px;
}
.time{
    cursor: pointer;
    font-size: 12px;
    margin: 5px 0px; 
}
.user-name:hover, .time:hover{
    text-decoration-line: underline !important;
}
.option{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.option-icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.option-icon:hover{
    background-color: rgb(240, 238, 238);
}
.option-icon:active{
    background-color: rgb(185, 184, 184);
}
.option-item{
    z-index: 1000;
    margin-left: -150px;
    width: auto;
    height: auto;
    padding: 3px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.option-item .items{
    padding: 0px 5px;
}
.option-item .items:active{
    background-color: rgb(185, 184, 184);
}
.option-item b{
    padding-left: 5px;
}
.option-item a{
    color: #4f4f4f;
}
.items{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}
.items:hover{
    background-color: rgb(240, 238, 238);
}
.news-content{
    padding: 0px;
}
.content-caption{
    padding: 4px 16px 16px 16px;
}
.content-images{
    width: 100%;
    height: auto;
}
img{
    cursor: pointer;
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}
.action-comment{
    padding: 0px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.action-comment-above{
    color: rgb(95, 95, 95);
    display: flex;
    margin: 0px 12px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(173, 173, 173);
}
.action-index{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.comment-index{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.share-index-item,
.comment-index-item{
    cursor: pointer;
}
.share-index-item{
    margin-left: 5px;
}
.share-index-item:hover,
.comment-index-item:hover{
    text-decoration-line: underline !important;
}
.action-comment-under{
    display: flex;
    padding: 7px 0px;
    margin: 0px 12px;
    border-bottom: 1px solid gray;
}
.action-name{
    padding-left: 7px;
    padding-top: 4px;
    justify-content: center;
    align-items: center;
}
.action-icon{
    justify-content: center;
    align-items: center;
}
.action-comment-under-item{
    cursor: pointer;
    border-radius: 5px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.like-icon, .comment-icon{
    font-size: 25px;
    color: rgb(95, 95, 95);
    padding-top: 5px;
}
.share-icon{
    font-size: 21px;
    color: rgb(95, 95, 95);
}
.action-comment-under-item:hover{
    background-color: rgb(231, 229, 229);
}
.action-comment-under-item:active{
    background-color: rgb(216, 213, 213);
}
.news-under{
    display: flex;
    flex-direction: column;
}
.news .text{
    width: 100% !important;
}
.comment-input-form{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0 8px;
    margin-top: 10px;
}
.comment-input input{
    width:100%;
    height: 38px;
    border:0px;
    border-radius:20px;
    background-color:#F2F3F5;
}
.comment-input{
    width:100%;
    font-size: 14px;
    padding: 0px 12px;
    border: 0px;
    padding-right: 0px;
}
#send-comment{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}
.send-icon{
    color: rgb(110, 108, 108);
}
.send-icon:hover{
    color: rgb(7, 156, 243);
}
.send-icon:active{
    color: rgb(9, 135, 207);
}
.comments{
    margin-top: 10px;
}
.comment-item{
    height: auto;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    border-radius: 8px;
    margin-bottom: 12px;
}
.comment-item b{
    font-size: 12px;
    padding-right: 5px;
}
.comment-item p{
    color: rgb(65, 62, 62);
    font-family:Arial, Helvetica, sans-serif;
}
.commentator-name{
    font-size: 14px;
    margin-left: 12px;
    padding-left: 7px;
    border: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color:#F2F3F5;
    max-width: 80%;
}
.commentator-name .comment-content{
    height: auto;
    padding-right: 7px;
}
/*RIGHT SIDE BAR*/
#right-side-bar{
    top: 70px;
    width: 25%;
    height: 90%;
    margin-left: 75%;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
}
@media screen and (max-width:1099px) {
    #left-side-bar{
        display: none;
    }
    #main-news-feed{
        margin-left: 15%;
    }
}
@media screen and (max-width:898px) {
    #right-side-bar{
        display: none;
    }
    #main-news-feed{
        margin-left: 25%;
    }
}
@media screen and (max-width:504px) {
    .news{
        min-width: 400px;
    }
    .thinking-post{
        min-width: 400px;
    }
}
#input-edit-comment::-webkit-scrollbar,
#post-writing::-webkit-scrollbar,
#right-side-bar::-webkit-scrollbar,
#left-side-bar::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #bdc2c9; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #90959c;
}
/*POST WRITING AREA*/
#post-writing{
    resize: none;
    height: 150px;
    overflow-y: scroll;
    border: none;
}
#post-writing:focus{
    outline: none;
}
.ID{
    display: none;
}
#option-comment-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(180, 180, 180);
}
#option-comment-item b{
    padding: 0px 8px;
}
#edit-comment{
    display: flex;
    flex-direction: row;
}
#input-edit-comment{
    resize: none;
    height: auto;
    overflow-y: scroll;
    border: none;
}
#input-edit-comment:focus{
    background-color: #F2F3F5;
    outline: none;
}
#form-edit-comment{
    display: none;
}